.about-us-banner {
  position: relative;
  background-image: url("../Assests/bread-bg8 (2).png");
  background-size: auto;
  height: 100%;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.about-us-banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(
      data:image/svg + xml,
      %3Csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 460 55"%3E%3Cgfill="none"fill-rule="evenodd"stroke="%23fff"stroke-width="7"opacity=".1"%3E%3Cpathd="M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8"/%3E%3Cpathd="M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8"/%3E%3Cpathd="M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9"/%3E%3Cpathd="M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8"/%3E%3C/g%3E%3C/svg%3E%0A
    ),
    linear-gradient(80deg, #000000, #01060d); */
  background-position: 50% 50%;
  animation: background-move 20s linear infinite;
  /* background-size: 100vw auto, 100% 100%; */
  opacity: 0.5;
  /* z-index: -1; */
}

/* Add your animation styles here */
.about-us-banner::before {
  animation: background-move 20s linear infinite;
}

.bread-svg {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  stroke: none;
  fill: rgb(255, 255, 255);
}
.svg-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-us-form {
  margin-top: 7% !important;
  width: 94%;
  margin: 0px auto;
  display: flex;
}
.contact-form-left {
  margin-left: 2%;
  width: 70%;
}
.contact-form-right {
  width: 30%;
  margin-right: 2%;
}
.contact-form-heading {
  font-size: 18px;
  color: #3e3d3d;
}
.contact-form-subheading {
  font-size: 15px;
  color: #5d646d;
  margin-top: 5px;
  margin-bottom: 6%;
}
.contact-form-info {
  width: 100%;
  display: flex;
}
.contact-label {
  font-size: 14px;
  color: rgb(13, 35, 62);
  margin-bottom: 10px;
}
.contact-input {
  position: relative;
  display: flex;
  align-items: center;
}

.contact-icon-user,
.contact-icon-mail,
.contact-icon-textarea {
  position: absolute;
  top: 27px;
  left: 8px; /* Adjust this value for spacing */
  transform: translateY(-51%);
  color: rgb(93, 100, 109);
  font-size: 18px;
}

input[type="text"],
input[type="email"],
textarea {
  /* width: 100%; */
  padding: 14px;
  padding-left: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-input input {
  margin-right: 10px;
  width: 300px;
}
.contact-label-textarea {
  font-size: 14px;
  color: rgb(13, 35, 62);
  margin-bottom: 10px;
  margin-top: 20px;
}
.contact-input textarea {
  resize: none;
  width: 86%;
}
.contact-icon-textarea {
  position: absolute;
  top: 22px;
  left: 6px;
  transform: translateY(-50%);
  color: rgb(93, 100, 109);
  font-size: 18px;
}
.contact-form-button button {
  background-color: #a1e600;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 16px;
  border-radius: 5px;
}
.contact-form-button :hover {
  background-color: #3e3d3d;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s;
}
.contact-us-information {
  background-color: #019fdc;
  color: #ffff;

  border-radius: 5px;
}
.information-wrap {
  padding: 4%;
}
.info-heading {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid#1faae0;
  padding-bottom: 3%;
}
.location-contact {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid#1faae0;
}
.location-icon {
  font-size: 16px;
  font-weight: 600;
  width: 10%;
  padding: 2.5% 1%;
  /* align-items: center; */
  background-color: #a1e600;
  border-radius: 70px;
  text-align: center;
}
.location-des {
  width: 90%;
}
.location-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3%;
}
.proper-location {
  font-size: 16px;
  line-height: 25px;
}
.icons-social-facebook {
  text-align: center;
  margin-top: 4%;
}
.contact-input input {
  margin-right: 10px;
  width: 300px;
  height: 25px;
}
@media (max-width:580px) {
  .contact-us-form {
    margin-top: -10% !important;
    width: 100%;
    flex-direction: column;
}
.contact-form-info {
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.contact-form-left {
  /* margin-left: 5%; */
  width: 90%;
  margin: 0px auto;

}
.contact-form-right {
  width: 90%;
  margin-top: 6% !important;
  margin-bottom: 6% !important;
  margin: 0px auto;
}
.forget-submit{
  margin-left: -210px;
}
}