.invoice-card-heading{
    font-size: 35px;
    font-weight: 700;
    color: #0d233e;
    margin-top: 5%;
    margin-left: 5%;
}
.invoice-card-des{
    width: 60%;
    display: flex;
    margin-left: 5%;
    background-color: #f4f6ff;
    border-radius: 10px;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 5%;
}
.invoice-card-img{
    width: 50%;
}
.invoice-card-img img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.invoice-card-main{
    width: 50%;
}
.invoicecard-type{
    color: #0d233e;
    margin-top: 5%;
    font-size: 15px;
    font-weight: 400;
    /* margin-left: 3%; */
}
.invoicecard-company{
    font-size: 30px;
    font-weight: 700;
    margin-top: 3%;
}
.invoice-card-capacity{
    margin-top: 3%;
    font-size: 19px;
    font-weight: 400;
}
.invoicecard-price{
    margin-top: 6%;
    /* margin-left: 2%; */
    font-size: 25px;
    font-weight: 800;
    color:#f26f25 ;
}
.saved-invoices{
    width: 90%;
    margin: 0px auto;
    gap: 40px;
    display: flex;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

.saved-invoice{
    gap: 40px;
    border-radius: 10px;
     width: 31%;
    background-color: #dae1ff;
}

.invoice-cardsaved-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
.invoice-cardsaved-main{
    padding-left: 4%;
    padding-bottom: 4%;
}
.Saveinvoice{
    float: right;
    margin-right: 3%;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.Saveinvoice  :hover{
    color: #0d233e !;
}
.no-invoices-message{
    font-style: italic;
    color: #b3b3b6;
}
.delete-invoice-button button {
    float: right;
    margin-top: -40px;
    margin-right: 5%;
    background: none;
    font-size: 20px;
    color: red;
    border: none;
    transition: color 0.3s, text-shadow 0.3s; /* Add transitions for color and text-shadow */
    cursor: pointer;
  }
  
  /* Apply the glow effect when hovering */
  .delete-invoice-button button:hover {
    color: #f26f25 !important; /* Change the color on hover */
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.8) !important; /* Apply a subtle text shadow on hover */
  }
  .input-saved-car input{
    width: 10%;
  }
  .edit-invoice-button button {
    float: right;
    margin-top: -80px;
    margin-right: 5%;
    background: none;
    font-size: 20px;
    color: rgb(5, 187, 223);
    border: none;
    transition: color 0.3s, text-shadow 0.3s; /* Add transitions for color and text-shadow */
    cursor: pointer;
  }
  
  /* Apply the glow effect when hovering */
  .edit-invoice-button button:hover {
    color: #0d233e !important; /* Change the color on hover */
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.8) !important; /* Apply a subtle text shadow on hover */
  }
  .change-input-field{
    float: right;
    margin-top: -100px;
    margin-right: 5%;
    background: none;
    font-size: 20px;
    /* color: rgb(5, 187, 223); */
    border: none;
    transition: color 0.3s, text-shadow 0.3s; /* Add transitions for color and text-shadow */
    cursor: pointer;
  }
  .cancel-save-btn{
    text-align: center;
    margin-top: 2%;
  }
  .Save-btn{
    background:none;
    border: none;
    margin-right: 4%;
    cursor: pointer;
    color: #f26f25;
  }
  .cancel-btn{
    background:none;
    cursor: pointer;

    border: none;
    margin-right: 4%;
    color: #f26f25;
  }
  @media (max-width:580px) {
    .saved-invoices {
        flex-direction: column;
    }
    .saved-invoice{
        width: 90%;
        margin: 0px auto;
    }
  }