body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", sans-serif;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.pointer {
  cursor: pointer;
}

.width-22 {
  width: 22rem;
  /* max-height: 60vh; */
  /* width: 25%; */
}

.card {
  background-color: whitesmoke;
}

.card img {
  padding: 4px;
  border-radius: 10px;
}

.bg-whiteSmoke {
  background-color: whitesmoke !important;
}

.bg-white {
  background-color: white !important;
}

.card-body-book {
  height: 30vh;
}

@media (max-width: 500px) {
  .card-body-book {
    gap: 40px;
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
  }
}
.overflow-text {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 200px; */
  max-height: 100px;
}
